<p id="notice"><%= notice %></p>

<p>
  <strong>Booked by:</strong>
  <%= @booking.booked_by %>
</p>

<p>
  <strong>Room:</strong>
  <%= @booking.room %>
</p>

<p>
  <strong>Booked at:</strong>
  <%= @booking.booked_at %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @booking.minutes %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
